<app-menu></app-menu>
<br>
<br>
<br>
<br>

<div class="container">
  <div class="card p-4 shadow mb-5">
    <router-outlet></router-outlet>
  </div>
</div>


<footer class="pt-5">
  <p class="py-3 text-center m-0  fixed-bottom" style="background-color: #cecece;">
    &copy; 2022 training-manager.bzh by Jean-Eudes, Vincent, Adrien, Briac
  </p>
</footer>