*{
    font-family: 'Smooch Sans', sans-serif;
    font-weight: bold;
    background-color: rgba(231, 233, 255, 0.795);



box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  
}



.container{
background-color: rgb(48, 103, 187);
}

h3{
    font-style: italic;
}


