.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #000000;
}

#logo{
  
  width: 6rem;
}

div>a>img{
  background-image: none;
  border-radius: 50%;
  box-shadow: 0px 0px 50px 10px rgba(245, 245, 245, 0.575);
}
.navbar-scroll {
  background-color: #383969;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-delay: 0s;
}
.navbar-scroll:hover{
  background-color: rgb(115, 130, 212);
}
ul>li>a{
    font-weight: bold;
    transition-property: font-size, font-style;
    transition-duration: 0.5s;
    transition-delay: 0s;
}
ul>li>a:hover{
    font-size: x-large;
    font-style: italic;
    color: #ffffff;
}

.navbar-brand {
  font-size: unset;
  height: 3.5rem;
}