
<nav class="navbar navbar-expand-lg navbar-scroll fixed-top shadow-0 border-bottom border-light">
  <div class="container">
    <div>
      <a [routerLink]="['']"><img src="assets\logo.png" alt="" id="logo" srcset=""></a>
    </div>
    <a class="navbar-brand" href=""><i class="fab fa-mdb fa-4x"></i></a>
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link"
          *ngIf="isUser==true || isFormateur==true || isGestionnaire == true || isStagiaire ==true"
            [routerLink]="['/profile/:id']">Mon compte</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isFormateur ==true || isGestionnaire==true"
            [routerLink]="['/filieres']">Filières</a>
        </li>
        <li class="nav-item">
          <a *ngIf="isGestionnaire==true" class="nav-link" [routerLink]="['/formations']">Les
            formations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isStagiaire==true || isFormateur==true || isGestionnaire==true"
            [routerLink]="['/modules']">Modules</a>
        </li>
        <button type="button" (click)="log()" class="btn btn-danger ms-3">{{actionText}}</button>
      </ul>
    </div>
  </div>
</nav>
