<h3>
    Nos formations : ({{ formations.length }})
</h3>

<!-- Formulaire d'ajout d'une formation -->
<formation-form (Onclick)=receptionFormation(formation)></formation-form>

<!-- Tableau des formations avec boutton de suppression -->
<table class="table table-striped">

    <thead class="table-dark">
        <tr>
            <th>Formations </th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let formation of formations">
            <td>
                {{formation.libelle}}
            </td>
            <td>
                <button (click)="onDelete(formation.libelle)" class="btn btn-sm btn-danger">Supprimer</button>
            </td>
        </tr>
    </tbody>

</table>