<h3>
  Nos modules ({{ modules.length }})
  <a [routerLink]="['/module-form']" *ngIf="isGestionnaire==true" class="m-2 btn btn-primary btn-sm">Ajouter un
    module</a>
</h3>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>Libellé</th>
      <th>Filière</th>
      <th *ngIf="isGestionnaire==true">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let module of modules">
      <td>{{ module.libelle }}</td>
      <td>
        <a [routerLink]="['/filieres', module.filiere?.id]">
          {{ module.filiere?.libelle }}
        </a>
      </td>
      <td>
        <button *ngIf="isGestionnaire==true" (click)="onView(module.id)"
          class="btn btn-secondary btn-sm m-1">Voir</button>
        <button *ngIf="isGestionnaire==true" (click)="onEdit(module.id)"
          class="btn btn-primary btn-sm m-1">Modifier</button>
        <button *ngIf="isGestionnaire==true" (click)="onDelete(module.id)"
          class="btn btn-danger btn-sm">Supprimer</button>
      </td>
    </tr>
  </tbody>
</table>