<form (submit)="handleSubmit()" #f="ngForm" class="form-inline m-auto">
  <div class="form-group">
    <label for="identifiant">Identifiant</label>
    <input [(ngModel)]="utilisateur.identifiant" required minlength="2"
      placeholder="Identifiant (par défaut : pour Jean Dupond l'identifiant fourni est jdupond)" name="identifiant"
      type="text" class="form-control" />

    <label for="password">Mot de passe</label>
    <input [(ngModel)]="utilisateur.password" required minlength="2"
      placeholder="Mot de passe" name="password"
      type="password" class="form-control" />
  </div>
  <button  [disabled]="f.invalid"  class="btn btn-primary btn-sm">Connexion</button>

  <p>Vous n'avez pas encore de compte? Inscrivez-vous : <a [routerLink]="['/inscription']">s'inscrire</a></p>

</form>
