<div *ngIf="profile">
    <h3>Bonjour {{ profile.prenom }} {{ profile.nom }}!</h3>

    <h4>Vos informations</h4>

    <ul>
        <li>{{profile.nom}}</li>
        <li>{{profile.prenom}}</li>
        <li>{{profile.mail}}</li>
        <li>{{profile.telephone}}</li>
        <li>{{profile.dateNaissance}}</li>
        <li>{{profile.rue}} {{profile.codePostal}} {{profile.ville}}</li>
    </ul>
    <div class="container">
        <div class="row">
            <h4>Modifiez votre mots de passe </h4>
            <div class="col-sm-6">
                
                <label> Mot de passe actuel</label>
                <div class="form-group pass_show"> 
                    <input type="password" value="" class="form-control" placeholder="Entrez le mot de passe actuel"> 
                </div> 
                   <label>Nouveau mot de passe</label>
                <div class="form-group pass_show"> 
                    <input type="password" value="" class="form-control" placeholder="Entrez votre nouveau mot de passe"> 
                </div> 
                   <label>Confirmez le mot de passe</label>
                <div class="form-group pass_show"> 
                    <input type="password" value="" class="form-control" placeholder="Confirmez le mot de passe"> 
                </div> 
                
            </div>  
        </div>
    </div>

</div>
