<h3>
    Nos personnes ({{ personnes.length }})
    <a [routerLink]="['/personne-form']" class="m-2 btn btn-success btn-sm">Ajouter une personne</a>
</h3>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Mail</th>²
            <th>Téléphone</th>
            <th>Date de naissance</th>
            <th>Lieu de résidence</th>
            <th>Formation</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let personne of personnes">
            <td>{{ personne.nom }}</td>
            <td>{{ personne.prenom}}</td>
            <td>{{ personne.mail}}</td>
            <td>{{ personne.telephone}}</td>
            <td>{{ personne.dateNaissance}}</td>
            <td>{{ personne.rue}}{{ personne.codePostal}}{{ personne.ville}}</td>
            <td>{{ personne.formation}}</td>
            <td>
                <button (click)="onView(personne.id)" class="btn btn-sm btn-secondary m-1">Voir</button>
                <button (click)="onEdit(personne.id)" class="btn btn-sm btn-primary m-1">Modifier</button>
                <button (click)="onDelete(personne.id)" class="btn btn-sm btn-danger">Supprimer</button>
            </td>
        </tr>
    </tbody>

</table>

<div *ngIf="message" class="alert alert-danger text-center" role="alert">
    {{ message }}
</div>