<form (submit)="handleSubmit()" #f="ngForm" class="form-inline m-auto">
    <div class="form-group">
        <label for="libelle">Formation</label>
        <input [(ngModel)]="formation.libelle" required minlength="2" placeholder="Nom de la formation" name="libelle"
            type="text" class="form-control" />
    </div>
    <button [disabled]="f.invalid" class="btn btn-primary ">{{actionText}}</button>
</form>