<div>
  <h3>Bienvenue sur Training Manager!</h3>

  <h4>Vos moyens d'accès</h4>

  <ul>
      <li>Identifiant : {{personne?.nom}}</li>
      <li>Mot de passe : {{personne?.prenom}}</li>
  </ul>
      <p><a class="nav-link" [routerLink]="['/authentification']"> S'authentifier</a></p>


</div>
