<div *ngIf="personne">
    <h3>Bonjour {{ personne.prenom }} {{ personne.nom }}!</h3>

    <h4>Vos informations</h4>

    <ul>
        <li>{{personne.nom}}</li>
        <li>{{personne.prenom}}</li>
        <li>{{personne.mail}}</li>
        <li>{{personne.telephone}}</li>
        <li>{{personne.dateNaissance}}</li>
        <li>{{personne.rue}} {{personne.codePostal}} {{personne.ville}}</li>
        <li>{{personne.formation}}</li>
    </ul>

</div>