<h3>Inscription</h3>
<form (submit)="handleSubmit()" #f="ngForm" class="form-inline m-auto">
    <div class="form-group">

        <label for="nom">Nom</label>
        <input [(ngModel)]="personne.nom" required minlength="2" placeholder="Nom" name="nom" type="text"
            class="form-control" />

        <label for="prenom">Prénom</label>
        <input [(ngModel)]="personne.prenom" required minlength="2" placeholder="Prénom" name="prenom" type="text"
            class="form-control" />

        <label for="mail">Email</label>
        <input [(ngModel)]="personne.mail" required minlength="6" placeholder="Email" name="mail" type="email"
            class="form-control" />

        <label for="telephone">Téléphone</label>
        <input [(ngModel)]="personne.telephone" required minlength="10" maxlength="10" placeholder="Téléphone"
            name="telephone" type="text" class="form-control" />

        <label for="dateNaissance">Date de naissance</label>
        <input [(ngModel)]="personne.dateNaissance" required name="dateNaissance" type="date" class="form-control" />

        <label for="rue">Rue</label>
        <input [(ngModel)]="personne.rue" required placeholder="Numéro et rue" name="rue" type="text"
            class="form-control" />

        <label for="codePostal">Code postal</label>
        <input [(ngModel)]="personne.codePostal" required placeholder="CP" name="codePostal" type="text"
            class="form-control" />

        <label for="ville">Ville</label>
        <input [(ngModel)]="personne.ville" required placeholder="Ville" name="ville" type="text"
            class="form-control" />

        <label for="formation">Formation</label>
        <select [(ngModel)]="formations" class="form-control" name="formation">
            <option *ngFor="let formation of formations" [value]="formation.libelle">{{ formation.libelle }}</option>
        </select>

    </div>
    <button [disabled]="f.invalid" class="btn btn-primary btn-sm">{{actionText}}</button>
</form>
